/*mobile ver*/
body {
  font-family: 'Rajdhani', sans-serif;
  background-color: white;
  max-width: 100%;
  height: 100vh;
  display: grid;
  grid-gap: 1px;
  grid-template-rows: 0.25fr 1fr 0.25fr;
  grid-template-columns: 1fr;
}

header {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: pink;
  padding: 1rem;
}

#bagSect {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: red;
}

#bottleSect {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: blue;
}

#padSect {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: coral;
}

#gumSect {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: green;
}
footer{
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: gray;
  text-align: center;
}
/*image styling*/
img{
  display:block;
  margin: auto;
}
/*footer link styling*/
a {
  text-decoration: none;
}

a:link {
  color: #7142f4;
}

a:visited {
  color: #7142f4;
}

a:hover {
  text-decoration: line-through;
  color: #7142f4;
}

a:active {
  color: #7142f4;
}
/*modal content/image/p*/
.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  padding: 1em;
  width: 80%;
}
/*this shows the image item on the modal(pop up)*/
#changeImg {
  width:300px;
  height:300px;
  margin: auto;
  grid-column: 1/2;
  grid-row: 1/2;
  padding-top: 4rem;
}
h2{
  grid-column: 1/2;
  grid-row: 1/2;
}
p{
  grid-column: 1/2;
  grid-row: 2/3;
}
/* modal */
.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: white;
  border: 1px solid #ff8668;
  border-radius: 0.5em;
}


/*close button*/
.close {
  color: black;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 1em;
  right: 1em;
}
/*close button styling*/
.close:hover,
.close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

/*web*/
@media only screen and (min-width: 769px) {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'Rajdhani', sans-serif;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.75fr 0.25fr;
    grid-gap: 1rem;
    max-width: 100%;
    height: 100vh;
    margin: auto;
  }

  header {
    padding-top: 1rem;
    grid-column: 1;
    grid-row: 1/2;
    text-align: center;
    color: #ff8668;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1;
    grid-row: 2/3;
  }
  /*images wrapped in a section*/
  #bagSect {
    grid-column: 1;
    grid-row: 2/3;
    margin: auto;
  }

  #bottleSect {
    grid-column: 1;
    grid-row: 2/3;
    margin: auto;
  }

  #padSect {
    grid-column: 1;
    grid-row: 2/3;
    margin: auto;
  }

  #gumSect {
    grid-column: 1;
    grid-row: 2/3;
    margin: auto;
  }
  /*this was to make images responsive to scale*/
  #bag,#pad,#bottle,#gum{
    width: 100%;
    height: auto;
    display:block;
  }
  /*modal content/image/p*/
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: auto;
    padding: 1em;
    width: 80%;
  }
  #changeImg {
    width:300px;
    height:300px;
    margin: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 4rem;
  }
  h2{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  p{
    grid-column: 2/3;
    grid-row: 1/2;
    margin:auto;
  }

/*footer again nothing special*/
  footer {
    padding-top: 1rem;
    grid-column: 1;
    grid-row: 3/4;
  }
}
