/* one page site with scroll */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica;
  font-size: 100%;
  background-color: black;
}

nav {
  position: fixed;
  top: 30%;
  right: 1rem;
  font-size: 1.5em;
}

li {
  list-style-type: none;
}

#nav a {
  border: 2px #333 solid;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  margin: 1rem;
  color: #333;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: white;
}

.active {
  background-color: white;
}

.page {
  height: 100%;
  width:100%;
  text-align: center;
  color: #333;
}

#page1 {
  background-color: #3946FF;
  top: 25%;
}

#page2 {
  background-color: pink;
}

#page3 {
  background-color: green;
}

#page4 {
  background-color: coral;
}


#page5 {
  background-color: #B270FF;
  display: inline-block;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .1fr .1fr .1fr;
  margin: auto;
}

input[type="text"] {
  background-color: white;
  border-bottom: 2px solid white;
  border: 4px;
  border-radius: 5px;
  width: 50%;
  margin-left: 10px;
  margin-top: 10px;
  color: #B270FF;
}

#girl {
  position: absolute;
  top: 40%;
  left: 45.8%;
  display: block;
}

#mom {
  position: absolute;
  top: 25%;
  left: 39%;
}
#blanket{
  width: 325px;
  height: auto;
  position: absolute;
  right:8%;
  z-index: 2;
}
#boyFloor{
  width: 300px;
  height: auto;
  position: absolute;
  left:5%;
}
#boyFloor2{
  width: 400px;
  height: auto;
  position: absolute;
  right: 5%;
}
.tent{
  width: 500px;
  height: auto;
  position: absolute;
  left: 0;
}

input[type="submit"],
input[type="reset"] {
  width: auto;
  padding: 8px;
  background-color: #8943E8;
  border: 4px;
  border-radius: 8px;
  margin-top: 15px;
  font-size: 1em;
  color: white;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background: white;
  color: #6F16E8;
}

/*header section*/
header {
background-color: black;
}

#button {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border-radius: 50px;
  position: absolute;
  top: 1em;
  right: 1em;

}

#button:hover {
  background-color: rgba(61, 61, 61, 0.14);
}

#title {
  color: white;
  text-align: center;
}
p{
  color: white;
  font-size: 3em;
  margin: auto;
  top: 25%;

}

#menu {
  position: absolute;
  top:1em;
  left:1em;
  display: inline-block;
  cursor: pointer;
}
#menuModal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  overflow: hidden;
}
#close{
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-size: 3em;
  color: white;
}
#menuModal li{
  color:white;
  font-size:2em;
  text-align: center;
  display: block;
  line-height: 2em;
}
#menuModal a{
  text-decoration: none;
}
.bar1, .bar2 {
  width: 35px;
  height: 2px;
  background-color: white;
  margin: 10px 0;
  transition: 0.4s;
}

.bar3 {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 10px 0;
  transition: 0.4s;
}
footer{
  height: 50px;
}
