/* one page site with scroll */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica;
  font-size: 100%;
}

nav {
  position: fixed;
  top: 5.5em;
  right: 1rem;
  font-size: 1.5em;
  z-index: 5;
}

li {
  list-style-type: none;
}

a {
  border: 2px #333 solid;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  margin: 1rem;
  color: #333;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: white;
}

.active {
  background-color: white;
}

.page {
  /* setting height 100% for html, body, and for all pages makes each page full viewport */
  height: 100%;
  /* dirty hack to make text big and centered */
  text-align: center;
  font-size: 100vmin;
  color: #333;
}

#page1 {
  background-color: blue;
}

#page2 {
  background-color: pink;
}

#page3 {
  background-color: green;
}

#page4 {
  background-color: coral;
}

#page5 {
  background-color: gray;
}

#girl {
  position: absolute;
  top: 40%;
  left: 45%;
  display: block;
}

#mom {
  position: absolute;
  top: 25%;
  left: 39%;
}
